h1{
  color:green;
  font-style: italic;
}

h2{
  color:green;
  font-style: italic;
}

.note {
  color: green;
  padding-top: 5px;
  font-size: 15px;
}

div {
  color: green;
  font-style: italic;
  font-size: 15px;
  padding-top: 5px;
}

button {
  background-color: white;
  color: green;
  border-color: green;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 1px 4px;
  border-radius: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-style: italic;
  font-size: 20px;
  border-style: solid;
  border-color: red;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.message{
  color: green;
  background: lightgrey;
  font-style: italic;
  font-size: 20px;
  border-style: solid;
  border-color: green;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

input{
  color:green;
  border-color:green;
  border-radius: 10px;
}